<div class="container mx-auto mt-10 text-center">
    <h2 class="text-4xl font-semibold mb-10 text-white">Portfolio</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="portfolio-item bg-gray-800 p-4 text-white">
        <p class="mb-2">Modèle de Montre 1</p>
      </div>
      <div class="portfolio-item bg-gray-800 p-4 text-white">
        <p class="mb-2">Modèle de Montre 2</p>
      </div>
      <div class="portfolio-item bg-gray-800 p-4 text-white">
        <p class="mb-2">Modèle de Montre 3</p>
      </div>
    </div>
  </div>
  