<header class="bg-black text-white py-4">
  <nav class="container mx-auto flex justify-between items-center">
    <div class="logo text-2xl font-bold">
      Sven Räss Photography
    </div>
    <div class="nav-links flex space-x-8 relative">
      <a href="/" class="nav-link text-lg">Accueil</a>
      <a href="/portfolio" class="nav-link text-lg">Portfolio</a>
      <a href="/contact" class="nav-link text-lg">Contact</a>
      <div class="underline-slider"></div> <!-- Sliding underline -->
    </div>
  </nav>
</header>


<main class="main-container">
  <router-outlet></router-outlet>
</main>

<footer class="bg-black text-white text-center py-4">
  <p>&copy; 2024 Sven Räss Photography. Tous droits réservés.</p>
</footer>
