<div class="hero-section">
    <h1 class="hero-title">Sven Räss - Photographie de Montres de Luxe</h1>
  </div>
  
  <div class="scroll-section">
    <div class="profile-container mb-6">
      <img src="https://cdn.discordapp.com/attachments/1270482910410969184/1298012818695524453/profilepic.jpg?ex=67180423&is=6716b2a3&hm=8ba0b54cee2c549918db45ba650b7cc66dd4c37109ba03820da6f257db291e32&" alt="Profile Picture" class="profile-pic">
    </div>
    <div class="text-container">
      <div class="text-box">
        <p>Passionné par l’art horloger et la photographie, je mets en valeur l’essence et la beauté des montres de luxe à travers des images captivantes et détaillées.</p>
      </div>
      <div class="text-box">
        <p>Mon expertise me permet de capturer chaque détail, chaque texture, et chaque subtilité qui rendent ces créations uniques.</p>
      </div>
      <div class="text-box">
        <p>Faites confiance à un photographe spécialisé qui comprend l’importance des détails et qui sait capturer l’âme de chaque montre.</p>
      </div>
    </div>
  </div>
  